* {
  font-family:'Poppins',sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: white;
  display: flex;
  justify-content:center;
  align-items: center;
}


.App{
  text-align:center;

}

h1{
  color:#fff;
  margin-bottom: 0.5rem;
  font-size:1.75rem;
}

.TodoWraper {
  background: cornflowerblue;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #F5F7F8;
}

.todo-btn {
  background: white;
  color: #1F1717;
  border: none;
  font-weight: bold;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  cursor: pointer;
  text-decoration: line-through;
  
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}